<?xml version="1.0" encoding="GBK" ?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns="http://www.springframework.org/schema/beans"
       xmlns:p="http://www.springframework.org/schema/p"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd
        http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd
        http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd"
       default-autowire="byName">

    <context:component-scan base-package="com.taobao.zeus.store.mysql" />

    <tx:annotation-driven/>
    <bean id="txManager" class="org.springframework.orm.hibernate4.HibernateTransactionManager">
        <property name="sessionFactory" ref="sessionFactory" />
    </bean>
    <!--aop-->
    <aop:config>
        <aop:advisor advice-ref="applicationAdvisor" pointcut="execution(* com.taobao.zeus.schedule.*.*(..))"/>
    </aop:config>
    <!--advisor-->
    <tx:advice id="applicationAdvisor" transaction-manager="txManager">
        <tx:attributes>
            <tx:method name="*" propagation="REQUIRES_NEW"/>
            <tx:method name="find*" propagation="SUPPORTS" read-only="true"/>
        </tx:attributes>
    </tx:advice>

    <bean id="sessionFactory" class="org.springframework.orm.hibernate4.LocalSessionFactoryBean">
        <property name="dataSource">
            <ref bean="dataSource" />
        </property>
        <property name="hibernateProperties">
            <props>
                <prop key="hibernate.dialect">org.hibernate.dialect.MySQLDialect</prop>
                <prop key="hibernate.show_sql">false</prop>
                <prop key="hibernate.format_sql">false</prop>
                <prop key="hibernate.jdbc.fetch_size">80</prop>
                <prop key="hibernate.jdbc.batch_size">35</prop>
                <prop key="hibernate.hbm2ddl.auto" >update</prop>
            </props>
        </property>
        <property name="annotatedClasses">
            <list>
                <value>com.taobao.zeus.store.mysql.persistence.GroupPersistence</value>
                <value>com.taobao.zeus.store.mysql.persistence.JobPersistence</value>
                <value>com.taobao.zeus.store.mysql.persistence.DistributeLock</value>
                <value>com.taobao.zeus.store.mysql.persistence.JobHistoryPersistence</value>
                <value>com.taobao.zeus.store.mysql.persistence.ZeusUser</value>
                <value>com.taobao.zeus.store.mysql.persistence.ZeusFollowPersistence</value>
                <value>com.taobao.zeus.store.mysql.persistence.PermissionPersistence</value>
                <value>com.taobao.zeus.store.mysql.persistence.FilePersistence</value>
                <value>com.taobao.zeus.store.mysql.persistence.DebugHistoryPersistence</value>
                <value>com.taobao.zeus.store.mysql.persistence.ProfilePersistence</value>
                <value>com.taobao.zeus.store.mysql.persistence.TimeZone</value>
                <value>com.taobao.zeus.store.mysql.persistence.Worker</value>
            </list>
        </property>
    </bean>

    <bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource">
        <property name="driverClassName" value="com.mysql.jdbc.Driver"/>
        <property name="url" value="jdbc:mysql://10.100.8.248:3306/zeus2?createDatabaseIfNotExist=true&amp;useUnicode=true&amp;characterEncoding=utf-8&amp;autoReconnect=true&amp;autoReconnectForPools=true"/>
        <property name="username" value="root"/>
        <property name="password" value="7002"/>
        <property name="maxActive" value="20" />
        <property name="initialSize" value="3" />
        <property name="maxWait" value="60000" />
        <property name="maxIdle" value="15" />
        <property name="minIdle" value="5" />
        <property name="removeAbandoned" value="true" />
        <property name="removeAbandonedTimeout" value="180" />
        <property name="validationQuery" value="SELECT 1" />
        <property name="testOnBorrow" value="true" />
    </bean>

</beans>